body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.weather {
    position:absolute;
    text-align: left;
    font-size: 1.5rem;
    margin: 10px;
}

.icon {
    vertical-align: middle;
}

#realTime {
    font-size: 4rem;
}

.form {
    margin-bottom: 30px;
}

input[type=text] {
    outline: none;
    -webkit-appearance: none;
    border: 0px; 
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    width: 80%;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.form, .greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
    resize: both;
    overflow: scroll;
    object-fit: cover;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
